* {
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: black;
}
h1:hover {
  margin: 10px;
  font-size:3rem;
  color: chocolate;
  transition: 2s;
}
table{
  border: 2px solid black;
  width: 600px;
  height: 600px;
  border-spacing: 0;
  }

tr:nth-child(even) td:nth-child(odd),
tr:nth-child(odd) td:nth-child(even) {
  background-color: black;
}
